<?xml version="1.0"?>
<config>
    <modules>
        <Magelix_Mustlogin>
            <version>0.1.0</version>
        </Magelix_Mustlogin>
    </modules>
    <global>
        <models>
            <magelix_mustlogin>
                <class>Magelix_Mustlogin_Model</class>
            </magelix_mustlogin>
        </models>
        <!--
               <blocks>
                   <magelix_mustlogin>
                       <class>Magelix_Mustlogin_Block</class>
                   </magelix_mustlogin>
                   <page>
                       <rewrite>
                           <html_head>Magelix_Mustlogin_Block_Html_Head</html_head>
                       </rewrite>
                   </page>
               </blocks>
       -->
        <helpers>
            <magelix_mustlogin>
                <class>Magelix_Mustlogin_Helper</class>
            </magelix_mustlogin>
        </helpers>
    </global>
    <default>
        <customer>
            <must_login>
                <is_mustlogin_active>0</is_mustlogin_active>
                <is_redirect_login>1</is_redirect_login>
                <redirect_page>home</redirect_page>
            </must_login>
        </customer>
    </default>
    <frontend>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <magelix_mustlogin>
                        <class>Magelix_Mustlogin_Model_Observer</class>
                        <method>setredirect</method>
                    </magelix_mustlogin>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>
</config>